<%- include('layout', { title: 'Cart', body: `
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
  <div class="container mt-5">
    <h2 class="mb-4">Article Details</h2>
  </div>
</div>
<div class="container-xxl domain mb-5">
  <div class="container-xxl py-5" id="purchase-form">
    <div class="container px-lg-5">
      <h1 class="mb-3">${article.name}</h1>
      <div class="row g-5">
        <div class="col-lg-7 col-md-6">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="border rounded p-4 mt-4">
              <div class="row g-3">
                <div class="col-12">
                  <div class="form-floating">
                    <img
                      src="${article.image}"
                      alt="${article.description}"
                      class="img-fluid mb-3"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="section-title position-relative mx-auto mb-4 pb-4">
            <hr />
            <h3 class="fw-bold mb-0">Article Details</h3>
            <p><strong>Description:</strong> ${article.description}</p>
            <p><strong>Category:</strong> ${article.category}</p>
            <p><strong>Downloads:</strong> ${article.downloads}</p>
            <p><strong>Price:</strong> ${article.cost}</p>
          </div>
          <hr />
          <div class="section-title position-relative mx-auto mb-4 pb-4">
            <h3 class="fw-bold mb-0">Customer Support</h3>
          </div>
          <p class="mb-2">
            <i class="fa fa-map-marker-alt text-primary me-3"></i>Mt.
            View,Westlands,NRB
          </p>
          <p class="mb-2">
            <i class="fa fa-phone-alt text-primary me-3"></i>+254113094450
          </p>
          <p class="mb-2">
            <i class="fa fa-envelope text-primary me-3"></i
            >info@troycityafrica.com
          </p>
          <div class="border rounded text-center p-4 mt-4">
            <!-- <h3 class="fw-bold mb-4">Need Any Help?</h3> -->
            <a
              class="btn btn-primary py-3 px-5"
              href="#"
              onclick="promptHosting('${article.id}', '${article.name}', '${article.cost}')"
            >
              Proceed To Checkout
            </a>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.5s"></div>
      </div>
    </div>
    <div
      class="modal fade"
      id="hostingModal"
      tabindex="-1"
      aria-labelledby="hostingModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content p-4">
          <div class="modal-header">
            <h5 class="modal-title" id="hostingModalLabel">
              Kindly confirm before puchase
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div id="selectedArticle" class="row"></div>
            <div class="mt-4 d-flex justify-content-end">
              <button class="btn btn-primary" onclick="proceedWithPurchase()">
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hosting Modal -->

  <!-- Hero End -->
  ` }) %>
  <script>
    let selectedArticleId = "";
    let selectedArticleName = "";
    let selectedArticlePrice = "";

    function promptHosting(articleId, name, cost) {
      selectedArticleId = articleId;
      selectedArticleName = name;
      selectedArticlePrice = cost;
      const hostingContainer = document.getElementById("selectedArticle");

      hostingContainer.innerHTML = "";

      hostingContainer.innerHTML += `
              <div class="col-md-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title">Purchase Confirmation</h5>
                    <p>${name || ""}</p>
                    <p><strong>KES ${cost}</strong></p></div>
                </div>
              </div>
            `;
      new bootstrap.Modal(document.getElementById("hostingModal")).show();
    }

    function proceedWithPurchase() {
      localStorage.setItem("selectedArticle", selectedArticleId);
      localStorage.setItem("articleName", selectedArticleName);
      localStorage.setItem("articlePrice", selectedArticlePrice);

      window.location.href = `/checkout?articleId=${selectedArticleId}`;
    }
  </script>
</div>
