<%- include('layout', { title: 'Error', body: `
<div class="container mt-5">
  <h1 class="text-danger">Oops! Something went wrong.</h1>
  <p><%= message %></p>
  <% if (error && error.stack) { %>
  <pre><%= error.stack %></pre>
  <% } %>
</div>

` }) %>
</div>
